html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

* {
    font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: rgb(74, 74, 235);
    color: white;
    width: 100%;
}
#title {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}
#nav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgb(74, 74, 235);
}
.nav_option {
    margin: 0.5rem;
}

#menu {
    font-size: 25px;
    width: 100%;
    text-align: center;
}

#main_title {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.gallary {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 1rem;
    width: 100%;
}

footer {
    background-color: rgb(74, 74, 235);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

img {
    max-width: 70%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.viewer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    z-index: 1000;
}

#viewer-img {
    max-height: 100%;
    align-self: center;
    justify-self: center;
}

.close-viewer {
    background-color: white;
    cursor: pointer;
    width: 3%;
    height: 3%;
    position: absolute;
    top: 10px;
    right: 10px;
}


@media screen and (min-width: 500px) {
    .gallary {
        grid-template-columns: 1fr 1fr;
    }

    .nav_option{
        display: none;
    }
}

@media screen and (min-width: 1000px) {
    .gallary {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .nav_option{
        display: block; 
        width: 20%;
        text-align: center;
    }
    #nav {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        width: 70%;
        margin: auto;
    }
}
