* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 450;
}
#container{
    border: 2px solid gray;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

p, li{
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
    font-size: 10px;
    line-height: 20px;
}



h1, h2 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1 {
    margin-top: 60px;
    max-width: 50%;
    font-size: 20px;
    font-weight: 900;
}
h2 {
    font-size: 10px;
    color: #006EB6;
    letter-spacing: 2px;
    max-width: 50%

}


hr {
    width: 60%;
}

img {
    width: 15%;
    margin-bottom: 50px;
}

#par_two {
    font-style: italic;
}

#text {
    width:60%
}