html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: "Ubuntu", Helvetica, sans-serif;
}

h1 {
    font-family: "TikTok Sans", "Ubuntu", sans-serif;
    font-size: 3.5em;
    font-weight: 900;
    color: #334195;;
}

#header {
    background-color: #334195;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
#header a:hover {
    text-decoration: underline;
    color: #ffcc00;
    font-size: 1.3em;
}

#main-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#trivia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

#question-num {
    font-size: 1.5em;
    margin-bottom: 30px;
}

#question-text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#options-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
#options-list li {
    margin: 10px 0;
    width: 200px;
    padding: 10px;
    font-weight: 900;
    text-align: center;
    border: 2px solid #334195;
}

#options-list li:hover {
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

#quiz-finished {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

#high-score {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

@keyframes spotlightFadeIn {
  0% {
    opacity: 0;
    transform: scale(1.2);
    filter: brightness(0.3) blur(5px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1) blur(0);
  }
}
#options-list li, #question-text {
  animation: spotlightFadeIn 1.5s ease-out forwards;
}

#movie-icon {
    width: 200px;
}
#title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}